[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Log Management System
[access "refs/*"]
	owner = group user/anilkumarshah
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anilkumarshah
	label-Verified = -1..+1 group user/anilkumarshah
	push = group user/anilkumarshah
	read = group user/anilkumarshah
	rebase = group user/anilkumarshah
	removeReviewer = group user/anilkumarshah
	submit = group user/anilkumarshah
[access "refs/heads/*"]
	create = group user/anilkumarshah
	push = +force group user/anilkumarshah
	pushMerge = group user/anilkumarshah
	read = group user/anilkumarshah
[access "refs/tags/*"]
	push = group user/anilkumarshah
	push = +force group user/anilkumarshah
